h3 Console logs {{$ctrl.logs.length}}
.btn-toolbar
  .form-group
    input.form-control(ng-model='$ctrl.filtering.search' placeholder='search')

div(ng-if='$ctrl.logs.length>0') 
  p
    ul(dir-paginate='browserAndLogs in $ctrl.logs | itemsPerPage:$ctrl.filtering.perPage')
      li(ng-repeat='log in browserAndLogs.logs | filter:$ctrl.filtering.search | filter:{level:$ctrl.filtering.logFilter} ')
        strong(title='Browser name') {{browserAndLogs.browser}}
        |  
        log(model='log' filtering='$ctrl.filtering')
        | 
        .btn-group 
          a.btn.btn-xs.btn-info(ng-model="showEnclosedSpec"  uib-btn-checkbox)  
            span Show spec
          //- a.btn.btn-xs.btn-default(ng-model="showEnclosedExpect"  uib-btn-checkbox)  
          //-   span Show expectation
        p
          .well(ng-if='showEnclosedSpec')
            spec(test='browserAndLogs.test' filtering='$ctrl.filtering')
            //- expectation(ng-if='showEnclosedExect' model='browserAndLogs.exp' filtering='$ctrl.filtering')
