h3 Console logs {{$ctrl.logs.length}}

div(ng-if='$ctrl.logs.length>0') 
  p
    ul(ng-repeat='browserAndLogs in $ctrl.logs')
      li(ng-repeat='log in browserAndLogs.logs | filter:{level:$ctrl.filtering.logFilter}')
        strong(title='Browser name') {{browserAndLogs.browser}}
        |  
        log(model='log')
        | 
        .btn-group 
          a.btn.btn-xs.btn-default(ng-model="showEnclosedSpec"  uib-btn-checkbox)  
            span Show spec
          //- a.btn.btn-xs.btn-default(ng-model="showEnclosedExpect"  uib-btn-checkbox)  
          //-   span Show expectation
        p
          .well(ng-if='showEnclosedSpec')
            spec(test='browserAndLogs.test' filtering='$ctrl.filtering')
            //- expectation(ng-if='showEnclosedExect' model='browserAndLogs.exp' filtering='$ctrl.filtering')

//- div(ng-repeat='test in $ctrl.model')
//-   div(ng-repeat='e in test.failedExpectations')
//-     ul
//-       li 
//-         h5(title='Browser name') {{browserAndLogs.browser}}
//-         log(model='browserAndLogs.logs | filter:{level:$ctrl.filtering.logFilter}')
//-         div
//-           a.btn.btn-xs.btn-default(ng-model="showEnclosedSpec"  uib-btn-checkbox)  
//-             span Show spec
//-           spec(ng-if='showEnclosedSpec' test='i.$test' filtering='main.filtering')
//- 
//-           a.btn.btn-xs.btn-default(ng-model="showEnclosedExpect"  uib-btn-checkbox)  
//-             span Show expectation
//-           expectation(ng-if='showEnclosedExect' model='i.$exp' filtering='main.filtering')
//- 
//-   div(ng-repeat='e in test.passedExpectations')
//-     ul
//-       li 
//-         h5(title='Browser name') {{browserAndLogs.browser}}
//-         log(model='browserAndLogs.logs | filter:{level:$ctrl.filtering.logFilter}')
