span(class='{{$ctrl.color}}')
  strong {{$ctrl.log.level}}
  |  
  span(ng-bind-html="$ctrl.log.message | uibTypeaheadHighlight:$ctrl.filtering.search")
  |  
  span {{$ctrl.log.timestamp | date:'shortTime'}}
  a.btn.btn-default(ng-if='$ctrl.log.stack' ng-model="$ctrl.more" uib-btn-checkbox)
    i.fa.fa-plus
    |  
    span show stack

  div.text-muted(ng-if='$ctrl.more')
    code {{$ctrl.stack}}
    ul
      li(ng-repeat='frame in $ctrl.log.stack.callFrames')
        strong {{frame.functionName}}
        |  
        span {{frame.url}}@{{frame.lineNumber}}:{{frame.columnNumber}}
